<div class="homepage">
  <div class='form-upload'>
    <%= form_for Post.new do |f| %>
      <div class="form-group">
        <%= f.text_field :description %>
      </div>
      <div class="form-group">
        <%= f.file_field :image %>
      </div>
      <div class="form-group">
        <%= f.text_field :user_id, value: current_user.id, class: 'd-none' %>
      </div>
      <br>
      <div class="text-center">
        <%= f.submit 'Create Post', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="posts">
    <% @posts.each do |post| %>

      <section class="post">
        <div class="user">
          <div class="avatar">
            <% if post.user.avatar.attached? %>
              <%= image_tag post.user.avatar %>
            <% end %>
          </div>
          <div class="username">
            <%= post.user.username %>
          </div>
        </div>
        <%= image_tag post.image, class: 'main-image' %>
        <div class="description">
          <%= post.description %>

          <% if post.comments %>
            <% post.comments.each do |comment| %>
              <div class="comment">
                <div class="user-name">
                  <%= comment.user.username %>
                </div>
                <div class="comment-content">
                  <%= comment.content %>
                </div>
                <% if comment.user == current_user %>
                  <%= link_to 'Delete', post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
                <% end %>
              </div>
            <% end %>
          <% end %>

          <%= form_for [post, post.comments.new] do |f| %>
            <%= f.text_field :content, placeholder: 'Add a comment...' %>
          <% end %>
        </div>
      </section>

    <% end %>

    <%= paginate @posts %>

  </div>
</div>
